.card {
  text-align: center;
  width: 75%;
  height: 75%;
  margin-left: 40px;
}

h3 {
  margin: 40px;
}

.search {
  margin-top: 20px;
  padding-left: 40px;
  text-align: center;
}

.cins {
  padding-left: 40px;
  text-align: center;
}

input {
  border: 2px solid #8842d5;
  border-radius: 2px;
  outline: none;
}

.container.pet {
  display: block;
  margin: 0 auto;
}

.card-body {
  text-align: center;
}
